<h1>Home Page</h1>
<br>
<%= link_to "New Customer", new_customer_path %>
<%= link_to "Customers", customers_path %>
<br>
<%= link_to "New Order", new_order_path %>
<%= link_to "Orders", orders_path %>
